# Environment variables for PAI ERP Frontend


# For local development
# REACT_APP_API_BASE_URL=http://localhost:5001/api

# For production/DEV environment deployment
REACT_APP_API_BASE_URL=https://pai-erp-dev.pineappleai.cloud/api

GENERATE_SOURCEMAP=false