# Database Configuration
DB_NAME=pai_erp_qa
DB_USER=root
DB_PASS=
DB_HOST=localhost
DB_PORT=3306

# JWT Secret
JWT_SECRET=my_secure_jwt_secret_12345

# Server Port
PORT=5001

# Project Version
PROJECT_VERSION=v1.0.1

# Gmail SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=jathushana.pineappleai@gmail.com
SMTP_PASS=owgsdwmzwymemjve
FROM_EMAIL=jathushana.pineappleai@gmail.com